# Part-I:

## Pandas

In [ ]:
# install pandas

!pip install pandas

[For more on installation](https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html)

In [ ]:
import pandas as pd

__Basic data structures in Pandas:__

- DataFrames

- Series

[Why to have more than one data structures](https://pandas.pydata.org/pandas-docs/stable/getting_started/overview.html#why-more-than-one-data-structure)

### Series

In [ ]:
# create a list of car makes
cars = ['Toyota', 'Honda', 'Toyota', 'Kia', 'Honda', 'GMC', 'Kia', 'Mazda', 'Hyundai', 'Mazda']

Note that the 'cars' is a 'list' object.

In [ ]:
# create a series from cars list
series_cars = pd.Series(cars, name= "Cars", index = [1,3,5,7,13, 15, 17, 1,2,3] )
# let's take a look at series_cars
series_cars

- Discuss index, name and differences of lists and series

In [ ]:
series_cars[3]

In [ ]:
series_cars.iloc[3]

In [ ]:
series_cars.loc[3]

- Discuss the benefits of series over other data structures by showing methods designed for handling tabular data like, value_counts, sort_index, sort_values, etc

In [ ]:
series_cars.sort_index()

In [ ]:
series_cars.sort_values()

In [ ]:
series_cars.value_counts()

In [ ]:
series_cars.values

In [ ]:
series_cars.describe()

In [ ]:
type(series_cars)

In [ ]:
# dir(series_cars)

### Data Frames

- Create dataframes from list-like objects

In [ ]:
courses = [['601', '03', 'Mehmet', 'Sarica', 'Main'], 
           ['601', '01', 'Murat', 'Guner', 'SG'], 
           ['601', '02', 'John', 'Wan', 'Main'], 
           ['602', '01', 'Antonio', 'Diana', 'Main'], 
           ['602', '04', 'Ozgur', 'Ozturk', 'Main'], 
           ['604', '03', 'Charles', 'Givre', 'Online']]

In [ ]:
courses_df = pd.DataFrame(courses)
courses_df

- Show extra features like: column names, index etc

In [ ]:
index = [100 ,15398, 14976, 14964, 15388, 15382]

courses_df = pd.DataFrame(courses, index = index)
courses_df

In [ ]:
courses_df = pd.DataFrame(courses, 
                          index = index, 
                          columns = ['Code', 'Section', 'FirstName', 'LastName', 'Campus'])
courses_df

- Creating Data Frame From A Dictionary

In [ ]:

mydictionary = {
    'names': ['Alice', 'John', 'Abby', 'Lini'],
    'Data601': [68, 74, 77, 78],
    'Data602': [84, 56, 73, 69],
    'Data603': [78, 88, 82, 87]
}


df = pd.DataFrame(mydictionary)
df

# Part-II

 ## Selecting a column in a dataframe

In [ ]:
df['names']

In [ ]:
df.names

- Accessing rows with their index

In [ ]:
df.loc[0]

- Accessing a value

In [ ]:
df.loc[0, 'names']

## .loc vs .iloc

In [ ]:
df.iloc[0, 0] # index

## Boolean Masking

In [ ]:
df

In [ ]:
df['Data601'] > 70

In [ ]:
greater_than_70 = df['Data601'] > 70

In [ ]:
df[greater_than_70]

In [ ]:
df[df['Data601'] > 70]

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df['Data601'].plot()