# Lab

Using the flights dataframe answer the following questions

1. When do the first and last flights leave each day?

2. When there is a missing value in `dep_time` then this is an indication of canceled flight. Find the number of cancelled flights for each (`carrier`, `origin`) combination.

3. Which carrier has the worst `dep_delay`s? 

4. Which plane (`tailnum`) has the worst on-time record?

5. For each plane, count the number of flights before the first delay of greater than 1 hour.

In [2]:
import pandas as pd


url = 'https://raw.githubusercontent.com/mguner/teaching/main/datasets/nyc_flights/nyc_flights.csv'

## read the file
flights = pd.read_csv(url)

In [8]:
flights.head(3)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z

In [9]:
# 1. When do the first and last flights leave each day?

x = flights.groupby(['month', 'day']).agg(
    min = ('dep_time', 'min'),
    max = ('dep_time', 'max')
)
x

             min     max
month day
1     1    517.0  2356.0
      2     42.0  2354.0
      3     32.0  2349.0
      4     25.0  2358.0
      5     14.0  2357.0
...          ...     ...
12    27     2.0  2351.0
      28     7.0  2358.0
      29     3.0  2400.0
      30     1.0  2356.0
      31    13.0  2356.0

[365 rows x 2 columns]

In [10]:
# 2. When there is a missing value in `dep_time` then this is an indication of canceled flight. Find the number of cancelled flights for each (`carrier`, `origin`) combination.

x = flights[flights['dep_time'].isnull()]
x.groupby(['carrier', 'origin']).size()

carrier  origin
9E       EWR         68
         JFK        807
         LGA        169
AA       EWR         99
         JFK        141
         LGA        396
AS       EWR          2
B6       EWR         74
         JFK        315
         LGA         77
DL       EWR         39
         JFK        100
         LGA        210
EV       EWR       2164
         JFK         82
         LGA        571
F9       LGA          3
FL       LGA         73
MQ       EWR        168
         JFK        327
         LGA        739
OO       LGA          3
UA       EWR        435
         JFK         44
         LGA        207
US       EWR         75
         JFK         26
         LGA        562
VX       EWR         10
         JFK         21
WN       EWR        105
         LGA         87
YV       LGA         56
dtype: int64

In [17]:
# 3. Which carrier has the worst `dep_delay`s? 

flights.groupby('carrier').agg(worst = ('dep_delay', 'sum')).sort_values('worst').iloc[-1]

worst    1024829.0
Name: EV, dtype: float64

In [12]:
# 4. Which plane (`tailnum`) has the worst on-time record?
worst_plane = flights.groupby('tailnum').agg(worst = ('dep_delay', 'max')).sort_values('worst').dropna().iloc[-1]
worst_plane

worst    1301.0
Name: N384HA, dtype: float64

In [5]:
# 5. For each plane, count the number of flights before the first delay of greater than 1 hour.
x = flights[flights['dep_delay'] < 60]
x.groupby('tailnum').agg(count = ('dep_delay', 'count')).sort_values('count')

         count
tailnum
N669SW       1
N701SK       1
N702SK       1
N705SK       1
N710SK       1
...        ...
N713MQ     417
N711MQ     435
N723MQ     437
N722MQ     456
N725MQ     510

[4009 rows x 1 columns]