# Week 11 Homework

Write a class that generates fake data.

* Write the code under the py docs ( do NOT remove docs strings)
* Before comitting do a Restart & Run All

Make sure that if a dataframe is passed in, it should not remove any value from it.

In [1]:
class FakeDataGenerator:
    
    def __init__(self, df = None, rows=5):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None 
        rows:
          If df None, this parameter will be used to create a data frame with `row` length
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
                                
        if type(df) == type(None):
            self.df = pd.DataFrame(index=range(0,rows)) 
        else:
            self.df = df
                
        self.rows = self.df.shape[0]
        
        
    def add_random_number(self, column_name, small_value, high_value): # optional: add probabilities 
        """
        adds fake numbers to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.df[column_name] = [Faker().random_int(min= small_value, max=high_value) for row in range(self.rows)]
        return self.df       
    
        
    def add_first_name(self, column_name):
        """
        adds fake first name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.df[column_name] = [Faker().first_name() for row in range(self.rows)]
        return self.df
    
    
    def add_last_name(self, column_name):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.df[column_name] = [Faker().last_name() for row in range(self.rows)]

        return self.df
    
    
    def add_email(self, column_name):
        """
        adds fake email to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.df[column_name] = [Faker().email() for row in range(self.rows)]
        return self.df
    
    
    def add_phone_number(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.df[column_name] = [Faker().phone_number() for row in range(self.rows)]
        return self.df
    
    
    def add_address(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.df[column_name] = [Faker().address() for row in range(self.rows)]
        return self.df

In [2]:
import pandas as pd
from faker import Faker

# Case 1 - existing data frame 
df = pd.DataFrame()
df['product_id'] = [i + 123 for i in range(25)]
df.head()

   product_id
0         123
1         124
2         125
3         126
4         127

In [3]:
fakeGen = FakeDataGenerator(df) # I'm creating instance using existing df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')

,product_id,shipping_address,billing_address,customer_phone
0,123,"3447 Peters Square Apt. 883\nKingshire, LA 71629","76157 Bennett Trafficway\nLake Johnhaven, FL 6...",(938)518-4950x1507
1,124,"593 Linda Turnpike\nFischerfurt, MA 49749","336 Samuel Orchard\nWilliamberg, WY 07814",9129928037
2,125,"75028 Chavez Run Suite 848\nEspinozastad, OK 0...","2858 Archer Dam Apt. 553\nSouth Josefort, NJ 4...",+1-228-607-0943x11405
3,126,3079 Christopher Junctions Suite 996\nSouth Jo...,"034 Walter Street\nNew Kyle, CA 65805",361-820-6056
4,127,"092 Powers Neck\nNorth Andrea, NJ 93597",453 Jacob Rapids Suite 528\nEast Jasminecheste...,(579)274-3905x3289
5,128,"3795 Jorge Route Suite 784\nLake Tiffany, WA 0...","2662 Christine Mission Suite 440\nWest James, ...",133-974-3437
6,129,"79658 William Spring\nAmandaton, NE 21089","6481 Rita Fields\nWest Melissa, MO 05111",+1-484-387-3135x5789
7,130,USNS Hall\nFPO AA 70365,"6455 Colleen Bridge Suite 584\nCervantesside, ...",+1-687-906-2153x40754
8,131,"960 Villanueva Mill Apt. 201\nJamesville, MI 6...","3260 Shawn Stravenue\nSmithton, CO 11298",+1-545-175-8656x951
9,132,"921 Carmen Cape\nWest Laurie, ME 89487","354 James Villages\nNew Marytown, MT 54411",516.785.5570
10,133,"7802 Zachary Lights\nWest Calebmouth, NM 61651","855 Barnes Oval Suite 887\nNew Crystalbury, WY...",055-728-7513
11,134,"7622 Jacobs Underpass\nBryanshire, ME 16221","95230 Jesus Brook Apt. 975\nEast Bernard, GA 9...",+1-382-335-2311
12,135,"0967 Johnson Roads Apt. 188\nWest Barbara, MO ...","778 Cheryl Estate\nWest Laura, CT 56386",2639745710
13,136,"4204 Powers Park\nWeavertown, WI 84026","029 Wilson Centers Apt. 535\nOlsenshire, WY 22953",365.122.8240x501
14,137,"33435 Nichols Lock Suite 599\nSouth Jessica, R...","16850 Joseph Row\nGregorytown, AK 72053",665-011-7219
15,138,"1908 Stevens Isle\nDavistown, OR 77274","0168 Miller Fort Apt. 352\nKyleshire, UT 90844",(850)429-8793
16,139,"291 Davies River Suite 535\nPort Danielville, ...","38502 Elliott Village\nNew Courtney, NH 84169",001-761-705-8917x3829
17,140,"8813 David Avenue Apt. 380\nThomasville, CT 78884","83949 Jessica Lake Suite 236\nRichardsonland, ...",001-517-584-3311x504
18,141,"570 Ramirez Dam Suite 940\nLake Derekside, OH ...","92285 Gary Passage\nDustinview, DC 09440",(326)843-0702
19,142,"303 Carl Valleys\nSouth Reneeburgh, DE 91630","380 Linda Manors Suite 980\nStephensview, OR 9...",629.743.7280
20,143,"9661 Parks Row\nPenningtonburgh, NE 29270","4074 Joshua Forest\nJonesfurt, ND 67717",(393)139-2039x15641
21,144,"664 Nelson Square\nNew John, AZ 91718","PSC 6472, Box 8977\nAPO AA 24377",0589279419
22,145,"26819 Bullock Flat\nJohnsonton, AK 16885","43274 Reyes Radial\nBrandonport, WA 99299",001-878-220-7199x5248
23,146,"92049 Timothy Locks\nSouth Shawn, OH 90892","624 Darren Terrace\nWardchester, IN 55463",9755975934
24,147,"112 William Estates Apt. 533\nWilliamsside, PA...","31284 Jonathan Wells\nNew Annemouth, DE 84088",139-322-0225x85508

In [4]:
# Case 2 - no dataframe

fakeGen = FakeDataGenerator() # no df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')
fakeGen.add_random_number('sale_count', 10, 100)

,shipping_address,billing_address,customer_phone,sale_count
0,"PSC 8995, Box 9922\nAPO AP 28397","88464 Tracy Ville\nLake Elizabeth, MN 55182",+1-919-642-9788,29
1,"8673 Melanie Street\nNew Michaelside, NC 15061","466 Garcia Run Apt. 115\nEast Xavier, NE 67917",730.277.3221x74015,18
2,"055 Brian Road Apt. 986\nPort Stevenshire, GA ...",Unit 1118 Box 7831\nDPO AP 15766,(897)983-3635,33
3,Unit 2729 Box 9399\nDPO AE 47841,"8470 Hayes Views\nThomaschester, CT 14950",+1-437-037-9425x2784,46
4,"1991 Steve Forks Suite 300\nLake Michaelfort, ...",5101 Jonathan Summit Apt. 191\nNew Robertburgh...,590-037-7911x6406,56