# Week9 Homework
## Working with Strings

The data frame contains notes taken by staff members. Your task is to clean it up to make it usable for analysis. 

### Tasks
* Create start date, end date columns and populate the values (If notes don't include month or day use 1) i.e: 2018 => 2018-01-01

* Create phone number column (If notes don't include phone numbers, use None)
* Create a column `duration` showing difference between start & end dates in years as a whole number

In [2]:
import pandas as pd
import re
pd.set_option('display.max_colwidth', 1000)

In [3]:
df = pd.read_csv(r'../data/hw_data.csv', index_col=0)

In [11]:
df.head()
df['notes'].loc[:30]

0                                 st Dt February 2005 ed dt;10/27/2011
1     st date:1974-05-21 end date 06/17/2013 pn:  001-186-444-5580x968
2                               start dt 01/14/1985-ed date:2021-03-21
3                                     STDT July 1973-end dt 01/20/2012
4                      st date:09/28/2002-ENDT 04/10-p/n  929-878-4923
5                            st Dt 2001-04 ENDT 2013-04 p#  8400434845
6                    pn:  120-577-2777-start dt June 1980-ENDT 2017-01
7                         p/n  773.229.8494/st dt 1998-06/end Dt 03/21
8                                        start dt 1986/ENDT 03/18/2014
9                         STDT 08/89 ed date:March 2019 p#  3855702012
10               pn: 833-500-1622x21862 st dt:10/08/1973 ed date:06/11
11                                    st Dt 1991-08-ed date:2021-08-14
12                                   STDT 05/29/1979-end dt 2021-11-01
13                                    start date 1975-en dt:12/20/2012
14           st Dt 07/11/1989-end date 10/12-pn:  +1-926-717-3290x3105
15                                     st dt:August 2000 en dt:2010-12
16                STDT 09/16/2007-ENDT 2018-07-pn: +1-472-406-8509x747
17      start dt 05/15/2006 end dt 2014-05-24 pn:  (089)080-9619x72039
18                                  start dt 05/08/end date 2010-09-11
19                                      start date 11/99-en dt:2021-07
20                         st dt:05/71/end Dt 2021-01/pn: 761-332-0360
21                        p/n  049-612-7422/STDT 1992/ed dt;09/11/2011
22                      pn:  265-814-0124 st dt 1987 end dt 03/31/2019
23              p#  +1-235-236-6617-st date:1996-08-ENDT December 2010
24       st dt March 1976 end date 2010-05-01 pn:  +1-750-853-0681x341
25                         st dt:May 2000/ed date:2014/P# 934-409-8856
26                                     start dt 05/84/end date 2017-07
27                  STDT 06/75 end date 05/11 pn: +1-602-527-0696x7347
28                               start dt 2005-01-13/ENDT October 2020
29                      p#  001-305-620-6621x966/STDT 10/80/ENDT 02/18
30            p#  (632)676-7227x9944-start date 02/09/1973-end Dt 2018
Name: notes, dtype: object

In [6]:
start_pat =re.compile(r'(st?a?r?t\s?da?te?;?:?\s?)(\w*(-|\s|\/)?\d*(-|\s|\/)?\d*)', re.I)

startdate = []    

for values in df['notes']:
    startdate.append(re.search(start_pat, values).group())

df['start_date'] = startdate

start_pat = re.compile(r'(st?a?r?t\s?da?te?;?:?\s?)', re.I)

df['start_date'] = df['start_date'].str.replace(start_pat,'',regex=True)

df['start_date']

0       February 2005
1           1974-05-21
2           01/14/1985
3           July 1973-
4           09/28/2002
             ...
1995        1988-03-28
1996            01/97
1997            05/92/
1998            07/91-
1999            04/99-
Name: start_date, Length: 2000, dtype: object

In [7]:
end_pat = re.compile(r'(en?d?\s?da?te?\s?(;|:)?)(\w*(-|\s|\/)?\d*(-|\s|\/)?\d*)', re.I)

enddate = []    

for values in df['notes']:
    enddate.append(re.search(end_pat, values).group())

df['end_date'] = enddate

end_pat = re.compile(r'(\s*?en?d?\s?da?te?\s?(;|:)?)', re.I)
df['end_date'] = df['end_date'].str.replace(end_pat,'',regex=True)
df['end_date']
# pd.to_datetime(df['end_date'], format="%m/%d/%Y")

0       10/27/2011
1       06/17/2013
2       2021-03-21
3       01/20/2012
4           04/10-
           ...
1995        04/10
1996         05/11
1997    01/05/2020
1998         04/15
1999    11/03/2011
Name: end_date, Length: 2000, dtype: object

In [12]:
phone_pat = re.compile(r'(p\/?n?#?:?\s*)((\(?\+?)\d*(-?\)?\.?)\d*(-?\)?\.?)\d*(-?\)?\.?)\d*x?\d*)', re.I)


phone = []    
for values in df['notes']:
    if re.search(phone_pat, values) == None:
        phone.append(None)
    else: phone.append(re.search(phone_pat, values).group())

df['phone_number'] = phone

phone_pat = re.compile(r'(p\/?n?#?:?\s*)', re.I)

df['phone_number'] = df['phone_number'].str.replace(phone_pat, '', regex=True)

In [112]:
df

,email,notes,end_date,start_date,phone_number
0,fosterjennifer@gmail.com,st Dt February 2005 ed dt;10/27/2011,10/27/2011,February 2005,None
1,vanessastephens@gmail.com,st date:1974-05-21 end date 06/17/2013 pn: 001-186-444-5580x968,06/17/2013,1974-05-21,001-186-444-5580x968
2,vsmith@yahoo.com,start dt 01/14/1985-ed date:2021-03-21,2021-03-21,01/14/1985,None
3,tammymorgan@gmail.com,STDT July 1973-end dt 01/20/2012,01/20/2012,July 1973-,None
4,kimberlylyons@mason-solis.biz,st date:09/28/2002-ENDT 04/10-p/n 929-878-4923,04/10-,09/28/2002,929-878-4923
...,...,...,...,...,...
1995,linblake@hotmail.com,st dt;1988-03-28 end date 04/10 pn: 866.901.2951x766,04/10,1988-03-28,866.901.2951x766
1996,xgriffin@gmail.com,P# 9478756534 st Dt 01/97 end Dt 05/11,05/11,01/97,9478756534
1997,alexanderrodriguez@smith.com,st dt;05/92/end date 01/05/2020/p# 176-995-6456x393,01/05/2020,05/92/,176-995-6456x393
1998,wwilliams@yahoo.com,p# +1-471-226-4876x03993-start date 07/91-en dt:04/15,04/15,07/91-,+1-471-226-4876x03993
1999,brent46@gmail.com,st dt 04/99-en dt:11/03/2011-pn: 729.161.3762,11/03/2011,04/99-,729.161.3762

In [81]:
test = 'st Dt February 2005 ed dt;10/27/2011'
re.search(phone_pat, test)

None

In [35]:
# test_pat = re.compile(start_pat, re.I)
re.match(start_pat, test)

In [13]:
from difflib import SequenceMatcher

MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

def clean_date_time(date_time: str) -> str:
    day, month, year = date_time.split(" ")

    def get_similarity(other_month):
        return SequenceMatcher(None, month, other_month).ratio()

    return " ".join((day, max(MONTHS, key=get_similarity), year))


df["end_date"].apply(clean_date_time)

ValueError: not enough values to unpack (expected 3, got 1)