# Week9 Homework
## Working with Strings

The data frame contains notes taken by staff members. Your task is to clean it up to make it usable for analysis. 

### Tasks
* Create start date, end date columns and populate the values (If notes don't include month or day use 1) i.e: 2018 => 2018-01-01

* Create phone number column (If notes don't include phone numbers, use None)
* Create a column `duration` showing difference between start & end dates in years as a whole number

In [76]:
import pandas as pd
import re
pd.set_option('display.max_colwidth', 1000)

In [77]:
df = pd.read_csv(r'../data/hw_data.csv', index_col=0)

In [78]:
df.head()
df['notes'].loc[:30]

0                                 st Dt February 2005 ed dt;10/27/2011
1     st date:1974-05-21 end date 06/17/2013 pn:  001-186-444-5580x968
2                               start dt 01/14/1985-ed date:2021-03-21
3                                     STDT July 1973-end dt 01/20/2012
4                      st date:09/28/2002-ENDT 04/10-p/n  929-878-4923
5                            st Dt 2001-04 ENDT 2013-04 p#  8400434845
6                    pn:  120-577-2777-start dt June 1980-ENDT 2017-01
7                         p/n  773.229.8494/st dt 1998-06/end Dt 03/21
8                                        start dt 1986/ENDT 03/18/2014
9                         STDT 08/89 ed date:March 2019 p#  3855702012
10               pn: 833-500-1622x21862 st dt:10/08/1973 ed date:06/11
11                                    st Dt 1991-08-ed date:2021-08-14
12                                   STDT 05/29/1979-end dt 2021-11-01
13                                    start date 1975-en dt:12/20/2012
14           st Dt 07/11/1989-end date 10/12-pn:  +1-926-717-3290x3105
15                                     st dt:August 2000 en dt:2010-12
16                STDT 09/16/2007-ENDT 2018-07-pn: +1-472-406-8509x747
17      start dt 05/15/2006 end dt 2014-05-24 pn:  (089)080-9619x72039
18                                  start dt 05/08/end date 2010-09-11
19                                      start date 11/99-en dt:2021-07
20                         st dt:05/71/end Dt 2021-01/pn: 761-332-0360
21                        p/n  049-612-7422/STDT 1992/ed dt;09/11/2011
22                      pn:  265-814-0124 st dt 1987 end dt 03/31/2019
23              p#  +1-235-236-6617-st date:1996-08-ENDT December 2010
24       st dt March 1976 end date 2010-05-01 pn:  +1-750-853-0681x341
25                         st dt:May 2000/ed date:2014/P# 934-409-8856
26                                     start dt 05/84/end date 2017-07
27                  STDT 06/75 end date 05/11 pn: +1-602-527-0696x7347
28                               start dt 2005-01-13/ENDT October 2020
29                      p#  001-305-620-6621x966/STDT 10/80/ENDT 02/18
30            p#  (632)676-7227x9944-start date 02/09/1973-end Dt 2018
Name: notes, dtype: object

In [95]:
start_pat =re.compile(r'(st?a?r?t\s?da?te?;?:?\s?)(\w*(-|\s|\/)?\d*(-|\s|\/)?\d*)', re.I)

startdate = []    

for values in df['notes']:
    startdate.append(re.search(start_pat, values).group())

df['start_date'] = startdate

start_pat = re.compile(r'(st?a?r?t\s?da?te?;?:?\s?)|(-|\/)$', re.I)

df['start_date'] = df['start_date'].str.replace(start_pat,'',regex=True).str.strip()

start_pat = re.compile(r'^\d{2}\/\d{2}$')

clean_dates = []

for date in df['start_date']:
    if re.search(start_pat, date) != None:
        clean_dates.append('01/'+date)
    
    else: 
        clean_dates.append(date)

clean_dates[0] = '01/02/2005'
df['start_date'] = clean_dates

df['start_date'] = pd.to_datetime(df['start_date'])
df['start_date']

0      2005-01-02
1      1974-05-21
2      1985-01-14
3      1973-07-01
4      2002-09-28
          ...
1995   1988-03-28
1996   1997-01-01
1997   1992-01-05
1998   1991-01-07
1999   1999-01-04
Name: start_date, Length: 2000, dtype: datetime64[ns]

In [94]:
end_pat = re.compile(r'(en?d?\s?da?te?\s?(;|:)?)(\w*(-|\s|\/)?\d*(-|\s|\/)?\d*)', re.I)

enddate = []    

for values in df['notes']:
    enddate.append(re.search(end_pat, values).group())

df['end_date'] = enddate

end_pat = re.compile(r'(\s*?en?d?\s?da?te?\s?(;|:)?)|(-|\/)$', re.I)
df['end_date'] = df['end_date'].str.replace(end_pat,'',regex=True).str.strip()

end_pat = re.compile(r'^\d{2}\/\d{2}$')

clean_dates = []

for date in df['end_date']:
    if re.search(end_pat, date) != None:
        clean_dates.append('01/'+date)
    
    else: 
        clean_dates.append(date)

df['end_date'] = clean_dates


df['end_date'] = pd.to_datetime(df['end_date'])
df['end_date']

0      2011-10-27
1      2013-06-17
2      2021-03-21
3      2012-01-20
4      2010-01-04
          ...
1995   2010-01-04
1996   2011-01-05
1997   2020-01-05
1998   2015-01-04
1999   2011-11-03
Name: end_date, Length: 2000, dtype: datetime64[ns]

In [35]:
phone_pat = re.compile(r'(p\/?n?#?:?\s*)((\(?\+?)\d*(-?\)?\.?)\d*(-?\)?\.?)\d*(-?\)?\.?)\d*x?\d*)', re.I)


phone = []    
for values in df['notes']:
    if re.search(phone_pat, values) == None:
        phone.append(None)
    else: phone.append(re.search(phone_pat, values).group())

df['phone_number'] = phone

phone_pat = re.compile(r'(p\/?n?#?:?\s*)', re.I)

df['phone_number'] = df['phone_number'].str.replace(phone_pat, '', regex=True).str.strip()
df['phone_number']

0                        None
1        001-186-444-5580x968
2                        None
3                        None
4                929-878-4923
                ...
1995         866.901.2951x766
1996               9478756534
1997         176-995-6456x393
1998    +1-471-226-4876x03993
1999             729.161.3762
Name: phone_number, Length: 2000, dtype: object

In [96]:
df

,email,notes,start_date,end_date
0,fosterjennifer@gmail.com,st Dt February 2005 ed dt;10/27/2011,2005-01-02,2011-10-27
1,vanessastephens@gmail.com,st date:1974-05-21 end date 06/17/2013 pn: 001-186-444-5580x968,1974-05-21,2013-06-17
2,vsmith@yahoo.com,start dt 01/14/1985-ed date:2021-03-21,1985-01-14,2021-03-21
3,tammymorgan@gmail.com,STDT July 1973-end dt 01/20/2012,1973-07-01,2012-01-20
4,kimberlylyons@mason-solis.biz,st date:09/28/2002-ENDT 04/10-p/n 929-878-4923,2002-09-28,2010-01-04
...,...,...,...,...
1995,linblake@hotmail.com,st dt;1988-03-28 end date 04/10 pn: 866.901.2951x766,1988-03-28,2010-01-04
1996,xgriffin@gmail.com,P# 9478756534 st Dt 01/97 end Dt 05/11,1997-01-01,2011-01-05
1997,alexanderrodriguez@smith.com,st dt;05/92/end date 01/05/2020/p# 176-995-6456x393,1992-01-05,2020-01-05
1998,wwilliams@yahoo.com,p# +1-471-226-4876x03993-start date 07/91-en dt:04/15,1991-01-07,2015-01-04
1999,brent46@gmail.com,st dt 04/99-en dt:11/03/2011-pn: 729.161.3762,1999-01-04,2011-11-03

In [118]:
df['duration'] = df['end_date'].sub(df['start_date'], axis = 0).dt.days//365.25

In [119]:
df

,email,notes,start_date,end_date,duration
0,fosterjennifer@gmail.com,st Dt February 2005 ed dt;10/27/2011,2005-01-02,2011-10-27,6.0
1,vanessastephens@gmail.com,st date:1974-05-21 end date 06/17/2013 pn: 001-186-444-5580x968,1974-05-21,2013-06-17,39.0
2,vsmith@yahoo.com,start dt 01/14/1985-ed date:2021-03-21,1985-01-14,2021-03-21,36.0
3,tammymorgan@gmail.com,STDT July 1973-end dt 01/20/2012,1973-07-01,2012-01-20,38.0
4,kimberlylyons@mason-solis.biz,st date:09/28/2002-ENDT 04/10-p/n 929-878-4923,2002-09-28,2010-01-04,7.0
...,...,...,...,...,...
1995,linblake@hotmail.com,st dt;1988-03-28 end date 04/10 pn: 866.901.2951x766,1988-03-28,2010-01-04,21.0
1996,xgriffin@gmail.com,P# 9478756534 st Dt 01/97 end Dt 05/11,1997-01-01,2011-01-05,14.0
1997,alexanderrodriguez@smith.com,st dt;05/92/end date 01/05/2020/p# 176-995-6456x393,1992-01-05,2020-01-05,28.0
1998,wwilliams@yahoo.com,p# +1-471-226-4876x03993-start date 07/91-en dt:04/15,1991-01-07,2015-01-04,23.0
1999,brent46@gmail.com,st dt 04/99-en dt:11/03/2011-pn: 729.161.3762,1999-01-04,2011-11-03,12.0